# Dictionary

* tuple은 불변한 순서가 있는 객체의 집합 --> 인덱스로 접근 가능
* list와 비슷하지만 한 번 생성되면 값을 변경할 수 없음
* list와 마찬가지로 타입이 함께 포함될 수 있음

In [1]:
#1. mydict라는 빈 딕셔너리를 만드세요
mydict = {}

In [2]:
#2. 'red':1, 'blue':3, 'green':4 세 요소를 추가하세요
mydict['red'] = 1
mydict['blue'] = 3
mydict['green'] = 4
print (mydict)

{'red': 1, 'blue': 3, 'green': 4}

In [3]:
#3. green의  value를 7로 수정하세요
mydict['green'] = 7
print(mydict)

{'red': 1, 'blue': 3, 'green': 7}

In [4]:
#4. mydict dictionary를 출력하세요
print (mydict)

{'red': 1, 'blue': 3, 'green': 7}

In [5]:
#5.key값에 blue가 있는지 확인하세요
'blue' in mydict

True

In [6]:
#8. mydict의 길이를 출력하세요
len(mydict)

3

In [7]:
#7. 복사해서 mydict2를 만드세요
mydict2 = mydict.copy()
print(mydict2)

{'red': 1, 'blue': 3, 'green': 7}

In [8]:
#8. get을 이용해서 red의 value값을 출력하세요
mydict.get('red')

1

In [9]:
#9.key값만 리스트로 출력하세요
mydict.keys()

dict_keys(['red', 'blue', 'green'])

In [10]:
#10. value값들만 리스트로 출력하세요
mydict.values()

dict_values([1, 3, 7])

In [11]:
#11. key, value의 튜플 쌍으로 각 요소를 출력하세요
mydict.items()

dict_items([('red', 1), ('blue', 3), ('green', 7)])

In [12]:
#12. key 'black'의 value를 출력하고 
# 없으면 key는 black, value는 5로 삽입하세요
print(mydict.get('black'))
mydict['black'] = 5
print(mydict)

None
{'red': 1, 'blue': 3, 'green': 7, 'black': 5}

In [13]:
#13. key를 기준으로 정렬하세요
sorted(mydict.keys())

['black', 'blue', 'green', 'red']

In [14]:
#14.value를 기준으로 정렬하세요
sorted(mydict.values())

[1, 3, 5, 7]

In [15]:
#15. key blue와 value를 삭제하세요
del mydict ['blue']
print (mydict)

{'red': 1, 'green': 7, 'black': 5}

In [16]:
# 16.black를 삭제하면서 value값을 동시에 리턴하세요
mydict.pop('black')

5

In [17]:
#17. 모든 요소를 삭제하세요
mydict.clear()
print(mydict)

{}

In [18]:
#18. 딕셔너리를 삭제하세요
del mydict

태양계 planet 한글이름과 영어 이름 활용하여 Dictionary 사용하기

In [19]:
solar1 = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
solar2 = ['Sun', 'Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [20]:
#19. 아래와 같이 출력되도록 코딩하세요.
# for문을 사용하세요.

# {'태양': 'Sun', '수성': 'Mercury', '금성': 'Venus', '지구': 'Earth', 
#  '화성': 'Mars', '목성': 'Jupiter', '토성': 'Saturn', '천왕성': 'Uranus', '해왕성': 'Neptune'}

In [21]:
solardict = {}

In [22]:
# for with "range"
for i in range (len(solar1)):
    solardict[ solar1[i]] = solar2[i]
print (solardict)

{'태양': 'Sun', '수성': 'Mercury', '금성': 'Venus', '지구': 'Earth', '화성': 'Mars', '목성': 'Jupiter', '토성': 'Saturn', '천왕성': 'Uranus', '해왕성': 'Neptune'}

In [23]:
# for with "enumerate"
for k, v in enumerate (solar1):
    print (k, v)
    solardict [v] = solar2 [k]
print (solardict)

0 태양
1 수성
2 금성
3 지구
4 화성
5 목성
6 토성
7 천왕성
8 해왕성
{'태양': 'Sun', '수성': 'Mercury', '금성': 'Venus', '지구': 'Earth', '화성': 'Mars', '목성': 'Jupiter', '토성': 'Saturn', '천왕성': 'Uranus', '해왕성': 'Neptune'}

* 반복문 사용 시 몇 번째 반복문인지 확인이 필요할 수 있음. 이 때 사용하는 것이 enumerate
* 인덱스 번호와 컬렉션의 원소를 tuple 형태로 반환

In [24]:
# enumerate 활용방법
t = ['삼다수', '백산수', '아이시스','에비앙']
for a in enumerate(t):
    print (a)

(0, '삼다수')
(1, '백산수')
(2, '아이시스')
(3, '에비앙')

* tuple 형태 반환을 이용하여 활용하기

In [25]:
for x, y in enumerate(t):
    print (x, y)

0 삼다수
1 백산수
2 아이시스
3 에비앙

In [26]:
#20-1. Aimy의 value를 10000으로 수정하세요 
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
'Michale':27115, 'Bob':5887, 'Kelly':7855}

In [27]:
names ['Aimy'] = 10000
print(names)

{'Mary': 10999, 'Sams': 2111, 'Aimy': 10000, 'Tom': 20245, 'Michale': 27115, 'Bob': 5887, 'Kelly': 7855}

In [28]:
#20-2. Sams 삭제
del names['Sams']
print(names)

{'Mary': 10999, 'Aimy': 10000, 'Tom': 20245, 'Michale': 27115, 'Bob': 5887, 'Kelly': 7855}

In [29]:
#20-3. value 값들의 합 구하기
sum(names.values())

82101

In [30]:
#20-4. value값의 최댓값 구하기
max(names.values())

27115

In [31]:
#20-5. key값들 출력하기
print(names.keys())

dict_keys(['Mary', 'Aimy', 'Tom', 'Michale', 'Bob', 'Kelly'])

In [32]:
#20-6.value 값들 출력하기
print(names.values())

dict_values([10999, 10000, 20245, 27115, 5887, 7855])

In [33]:
#20-7. 모든 요소 삭제하기
names.clear()

In [34]:
print(names)

{}

In [35]:
del names

In [36]:
#21. 이름을 입력받고 이름의 value값이 출력되도록 코딩

names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
'Michale':27115, 'Bob':5887, 'Kelly':7855}

In [37]:
name = input( "이름을 입력하세요: ")

if name in names:
    print (names[name])
else:
    print ("죄송합니다. 해당 이름에 대한 정보가 없습니다")

이름을 입력하세요: Michale
27115

In [38]:
#22-1. dictionary를 value 중심으로 정렬하고 key와 value를 출력하기
sorted (names.items(), key = lambda x: x[1]) #딕셔너리의 키와 벨류를 출력하는데, 1번째 컬럼(value)을 중심으로 sort

# sorted (names.values())로 진행하면 정렬된 value값만 출력됨

[('Sams', 2111),
 ('Bob', 5887),
 ('Kelly', 7855),
 ('Aimy', 9778),
 ('Mary', 10999),
 ('Tom', 20245),
 ('Michale', 27115)]

In [39]:
#22-2. key를 기준으로 오름차순 정렬
sorted(names.items(), key = lambda x: x[0], reverse = False)

[('Aimy', 9778),
 ('Bob', 5887),
 ('Kelly', 7855),
 ('Mary', 10999),
 ('Michale', 27115),
 ('Sams', 2111),
 ('Tom', 20245)]

In [40]:
my_idol = {"name": "쯔위", "age": 18, "job": "singer"}
#23-1. age값 출력
print(my_idol['age'])

18

In [41]:
#23-2. job의 값을 출력
print(my_idol['job'])

singer

In [42]:
#23-3. name 값을 '수지'로 수정
my_idol['name'] = '수지'
print(my_idol)

{'name': '수지', 'age': 18, 'job': 'singer'}

In [43]:
#23-4. 'birth'값을 '1994-07-07'로 추가하시오
my_idol['birth'] = '1994-07-07'
print(my_idol)

{'name': '수지', 'age': 18, 'job': 'singer', 'birth': '1994-07-07'}

In [44]:
#23-5. 마지막 index 항목 가져오면서 삭제하기
my_idol.popitem()

('birth', '1994-07-07')

In [46]:
#23-6. 임의의 값 가져오면서 삭제하기
import random
my_idol.pop(random.choice(list(my_idol.keys())))

'수지'

In [47]:
# #23-6 사전비우기
my_idol.clear()
print(my_idol)

{}

In [48]:
# #23-7 my_idol 사전 삭제하기
del my_idol

In [49]:
print(my_idol)

NameError: name 'my_idol' is not defined