In [1]:
print ('Hello world')

Hello world

In [2]:
number = 20162345
score = 90
python_score = 95
math1 = 80
student = 50

print (number)
print(score)
print(python_score)
print(math1)
print(student)

20162345
90
95
80
50

In [3]:
a = 10; b = 20; c = 30
print (a, b, c)

10 20 30

In [4]:
e = 'I am still alive'
type(e)

str

In [5]:
f = [1,2,3,4,5]
type(f)

list

In [6]:
g = (2,3,5)
type(g)

tuple

In [7]:
i = 24
type(i)

int

In [8]:
a = 2.15
type(a)

float

In [9]:
h = {1,3,5,6}
type(h)

set

In [10]:
d = {3:90, 5:87, 3:34}
type(d)

dict

In [11]:
a = 23
type(a)

int

In [12]:
isinstance (a, int)

True

In [13]:
print (type(3.5), type(3.3), type('34'))

a = int(3.5)
b = int(3.3)
c = int ('34')
print ('a:',a)
print('b:',b)
print('c:',c)

<class 'float'> <class 'float'> <class 'str'>
a: 3
b: 3
c: 34

In [14]:
a = 124
x = float(a)
y = str(a)

print (a, x, y)

124 124.0 124

In [15]:
type(y)

str

In [16]:
multiple = 9 * 9
divide = 30/5
power = 2 ** 4
remainder = 15 % 4

print (multiple, divide, power, remainder)

81 6.0 16 3

In [17]:
text = '2015' + '1991'
number = 2015 + 1991

print (text)
print (number)

20151991
4006

In [18]:
five4 = 5 * 1
five5 = 5 * 1.0

print (five4)
print (five5)

5
5.0

In [23]:
div1 = 6/5
div2 = 6//5    #몫 구하기
div3 = 7%5   #나머지 구하기

print (div1)
print(div2)
print(div3)

1.2
1
2

In [25]:
a = 6
b = 5

print ( b * (a//b) + (a % b))
print ( a == b * (a//b) + (a % b))

6
True

In [26]:
print ( int (5.0))
print ( float (5))
print ( 5 * 1.0)

5
5.0
5.0

In [27]:
sum = 21 + 5
multiply = 21 * 5
divide = 21 / 5
remainder = 21 % 5
power = 21 ** 3   # 21의 3승

print (sum, multiply, divide, remainder, power)

26 105 4.2 1 9261

In [28]:
round (1.3)

1

In [29]:
round (2.5)

2

In [30]:
round (2.6)

3

In [31]:
import math
type (math)

module

In [32]:
math.ceil (2.9)

3

In [33]:
math.floor (5.7)

5

In [34]:
a = 1
a < 0

False

In [35]:
a > 0

True

In [48]:
b = True
c = False
print (b, c)

True False

In [49]:
x = input('enter x: ')
print (x)

enter x:  hi!

hi!

In [42]:
type (x)

str

In [43]:
x = int(x)

ValueError: invalid literal for int() with base 10: 'hi!'

In [47]:
type (x)

int

In [51]:
d = int(input ('enter one integer :'))

enter one integer : 234

In [52]:
print(d)

234

In [54]:
e = float(input('inter one float number:'))

inter one float number: 3

In [55]:
print(e)

3.0

In [73]:
print ('hello world', end = ' ')   # end: 끝에 첨가
print ('hello world ', end = 'a')

hello world hello world a

In [77]:
print('hello world')

hello world

In [78]:
2 ** 3 ** 2

512

In [79]:
(2 ** 3) ** 2

64

In [80]:
abs (-3)

3

In [83]:
divmod ( 17, 4 )  # 몫과 나머지

(4, 1)

In [85]:
pow ( 2,5)   # 2의 5승

32

In [87]:
import math
math.fabs(-3)   

#this function returns the absolute value of the passed value

3.0

In [88]:
math.factorial(5)

120

In [89]:
math.pow (2,5)

32.0

In [90]:
pow (2,5)

32

In [91]:
math.sqrt(9)

3.0

In [92]:
math.trunc(10.8)

10

In [93]:
a = 1.5
type (a)

float

In [94]:
isinstance (a, float)

True

In [95]:
b = 2e3
print(b)

2000.0

In [97]:
a = 2e-03
print(a)

0.002

In [101]:
x = 1; y = 2
str1 = 'abc'; str2 = 'python'

print ( x == y)
print (x != y)
print (str1 == str2)
print (str2 == 'python')
print (str1 < str2)

False
True
False
True
True

In [102]:
bool1 = True
bool2 = False
bool3 = True
bool4 = False

In [103]:
bool1 and bool2

False

In [104]:
bool1 and bool3

True

In [105]:
bool2 or bool3

True

In [106]:
bool2 or bool4

False

In [107]:
not bool1

False

In [108]:
not bool2

True